<div id="mainNav">
    <div id="logoContainer">
        <span id="logoPart1">
            C
        </span>
        <div id="logoPart2">
            <span>
                ircuit
            </span>
            <span>
                ourt
            </span>
        </div>
    </div>
    <div id="links">
        <a href="/mainPage" class="link" id="">
            Maps
        </a>
        <a href="/" class="link" id="">
            Signin
        </a>
        <a href="/" class="link" id="">
            LogIn
        </a>
        <a href="/" class="link" id="">
            About
        </a>
    </div>
</div>