<div id="logoContainer">
    <span id="logoPart1">
        C
    </span>
    <div id="logoPart2">
        <span>
            ircuit
        </span>
        <span>
            ourt
        </span>
    </div>
</div>
<div id="links">
    <span>
        Maps
    </span>
    <span>
        Signin
    </span>
    <span>
        LogIn
    </span>
    <span>
        About
    </span>
</div>