<div id="mainNav">
    <div id="logoContainer">
        <span id="logoPart1">
            C
        </span>
        <div id="logoPart2">
            <span>
                ircuit
            </span>
            <span>
                ourt
            </span>
        </div>
    </div>
    <div id="links">
        <a href="/mainPage" class="link" id="">
            Maps
        </a>
        <a href="/signUp" class="link" id="">
            Sign Up
        </a>
        <a href="/logIn" class="link" id="">
            Log In
        </a>
        <a href="/About" class="link" id="">
            About
        </a>
    </div>
</div>