<div id="nico">
    <div class="imgContainer">
        <img src="./img/Nico.jpg" alt="nico"></div>
    <p>Nico est un jeune entrepreneur qui s'est lancé récemment dans le développement informatique, après un projet
        florissant ayant fait l'hunanimité sur son jeu Snake, il part faire le tour du monde afin de rencontrer les plus
        grands de la tech. Il boit des bières avec Steve Jobs et fait des bras de fer avec Bill Gates, après quoi il
        rentre afin de créer son projet le plus ambitieux: Circuit Court.</p>
</div>

<div id="ph">
    <div class="imgContainer">
        <img src="./img/PH.jpg" alt="ph"></div>
    <p>Jeune vendeur de tacos sur la plage, il décide après un tournant dramatique de sa vie (ses pains sont
        tombés dans le sable) de se reconvertir en développeur web. Il crée des applications fabuleuses telle que
        ${}, il décide ensuite de créer un partenariat avec Nico afin de boulverser le monde de la tech
        pour
        toujours.</p>
</div>