<div id="mainContainer" class="container">

    <div id="firstHalfContainer" class="container">
        <div id="pictureContainer">
            {{!-- <img id="homePic" src="/img/home/homePic.jpg" alt="homePic"> --}}
        </div>
        <div id="descriptionContainer">
            <p id="description">

                <span class="logo">Circuit Court </span> is a start-up whose goal is to reference the best places in
                Paris
                where you will find
                local agricultural products. You can either buy them or plant them, wanna have a look ?
            </p>
            <a id="seeMore" href="#secondHalfContainer" class="btn">See More</a>
        </div>
    </div>

    <div id="secondHalfContainer" class="container">

        <div id="cardContainer">
            <div class="cards"><a class="linkMap" href=""><img src="/img/home/plant-main.png " alt="" id="plantIcon"
                        class="icon">
                    Cultivate</a>
            </div>
            <div class="cards"><a href="">BOTH</a>
            </div>
            <div class="cards"><a class="linkMap" href=""><img src="/img/home/icone-panier.gif" alt="" id="basketIcon"
                        class="icon">Buy</a>

            </div>
        </div>

    </div>

</div>