<div id="mainContainer" class="container">

    <div id="firstHalfContainer" class="container">
        <div id="pictureContainer">
            <img id="homePic" src="/img/home/homePic.jpg" alt="homePic">
        </div>
        <div id="descriptionContainer">
            <p id="description">

                <span class="logo">Circuit Court </span> is a start-up whose goal is to reference the best places in
                Paris
                where you will find
                local agricultural products. You can either buy them or plant them, wanna have a look ?
            </p>
            <button id="seeMore" class="btn">See More</button>
        </div>
    </div>

    <div id="secondHalfContainer" class="container">

    </div>

</div>