<div id="mainContainer" class="container">

    <div id="firstHalfContainer" class="container">
        <div id="pictureContainer">
            <img id="homePic" src="/img/home/homePic.jpg" alt="homePic">
        </div>
        <div id="descriptionContainer">
            <p id="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim est nulla repellendus neque possimus
                doloribus voluptatibus, magnam fuga. Minus ea eum dicta accusamus nisi nemo doloremque quaerat deserunt
                recusandae aliquid?
            </p>
            <button id="seeMore" class="btn">See More</button>
        </div>
    </div>

    <div id="secondHalfContainer" class="container">

    </div>

</div>