<section class="sign form-container">
    <header class="form-header">
        <h1 class="form-title">Great to see you again !</h1>
    </header>

    <form method="post" action="/logIn" id="form_user">
        <div class="form-item-wrapper flexed-item">
            <input id="emailLogin" type="email" class="input log" placeholder="albert.biceps@gmail.com" name="email"
                required>
        </div>
        <div class="form-item-wrapper flexed-item">
            <input id="passwordLogin" type="password" class="input log" name="password" placeholder="••••••" required>
        </div>
        {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
        {{/if}}
        <button class="btn logButton">Log in !</button>
    </form>
    <button href="" class="button-link-form schedules popup">Forgot username / password ?</button>
    <div id="popup" class="popup">
        <span class="popuptext" id="popuptext">
            <button id="btn logButton" class="closePopUps">close</button>
            You're fucked mate !
    </div>
    </span>
    </div>

    <p class="form-sub-infos">Not a member yet ? <a href="/signUp" class="button-link-form">Create an account</a></p>
</section>