<div class="container">
    <div class="list">
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
        <div class="items">
            <p>Coucou</p>
            <ul>
                <li> Lundi: "closed"</li>
                <li>Mardi: "closed"</li>
                <li>Mercredi: "19:00-20:30"</li>
                <li>Jeudi: "closed"</li>
                <li>Vendredi: "closed"</li>
                <li>Samedi: "closed"</li>
                <li>Dimanche: "closed"</li>
            </ul>
        </div>
    </div>
    <div class="map" id="map"></div>
</div>