<div class="big-container manage-products-wrapper">
    <div class="edit-delete-container">
        <h3 class="manage-products-title">Manage the Database</h3>
        <table class="product-manage-table">
            <thead>
                <tr class="table-row">
                    <th class="table-head">Business Image</th>
                    <th class="table-head">Business Name</th>
                    <th class="table-head">Edit</th>
                    <th class="table-head">Delete</th>
                </tr>
            </thead>

            <tbody>
                {{#each businesses}}
                <tr class="table-row">
                    {{> dashboard_businesses_row}}
                </tr>
                {{/each}}
                {{#unless businesses}}
                <tr>
                    <td colspan="6">Sorry, no entries yet...</td>
                </tr>
                {{/unless}}
            </tbody>
        </table>
    </div>

    <div class="create-container">

        <form action="/create-product" method="post" enctype="multipart/form-data">
            <div class="form-item-wrapper flexed-item">
                <label for="image-img" class="image">Image</label>
                <input id="image-img" type="file" class="image input">
            </div>
            <div class="nameBusiness">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="The Sauvage Carrot">
            </div>
            <div class="form-item-wrapper flexed-item">
                <label for="type" class="label">Type of Business</label>
                <select id="type" class="select" name="category" required>
                    <option value="-1" disabled selected>Choose a category</option>
                    <option value="amap" name>Amap</option>
                    <option value="market">Market</option>
                    <option value="garden">Garden</option>
                </select>
            </div>
            <div class="adressBusiness">
                <span>Address</span>
                <label for="adress">Street</label>
                <input name="adress" id="adress location" type="text" placeholder="28 rue de la Carotte">
                <label for="zipcode">Zipcode</label>
                <input name="zipcode" id="zipcode location" type="text" placeholder="75000">
            </div>
            <div class="contactBusiness">
                <span>Contact</span>
                <label for="mail">Mail</label>
                <input type="text" name="mail" id="mail" placeholder="carrot@vegetable.com">
                <label for="phone">Phone</label>
                <input type="text" name="phone" id="phone" placeholder="+12 34 56 78 90">
                <label for="site">Site</label>
                <input type="text" name="site" id="site" placeholder="https://carrot.com/">
            </div>
            <div class="scheduleBusiness">
                <span>Schedule</span>
                <div class="dayofBusiness">
                    <label for="lundi" class="label">Monday : </label>
                    <input type="text" class="input" name="input" id="lundi" placeholder="10:00-20:30">
                    <label for="" class="label">Tuesday : </label>
                    <input type="text" class="input" name="mardi" id="mardi" placeholder="10:00-20:30">
                    <label for="" class="label">Wednesday : </label>
                    <input type="text" class="input" placeholder="10:00-20:30">
                    <label for="" class="label">Thursday : </label>
                    <input type="text" class="input" placeholder="10:00-20:30">
                    <label for="" class="label">Friday : </label>
                    <input type="text" class="input" placeholder="10:00-20:30">
                    <label for="" class="label">Saturday : </label>
                    <input type="text" class="input" placeholder="10:00-20:30">
                    <label for="" class="label">Sunday : </label>
                    <input type="text" class="input" placeholder="10:00-20:30">
                </div>
            </div>
            <div class="infoBusiness">
                <label for="info">Description</label>
                <input name="info" type="text"
                    placeholder="The sauvage carrot will help you reconnect with carrots and give them the place they deserve in your life">
            </div>
            <div class="bioBusiness">
                <label for="bio">Bio ?</label> <input type="checkbox" id="bio" name="bio">
            </div>
            <button>Create</button>


        </form>

    </div>


</div>