/* 

//////////////COLORS//////////////

YELLOW: rgb(251,191,45) / #FBBF2D
ORANGE: rgb(243, 153, 5) /
GREEN: rgb(8,129,138) / #08818A
DARK-BLUE: rgb(47,93,168) / #2F5DA8
LIGHT-BLUE: rgb(72,123,189) / #487BBD
GREEN-GRAY: rgb(173,213,176) / #ADD5B0
PINK: rgb(249,204,211) / #F9CCD3
BEIGE : #FAF0E1
*/

body {
  margin-top: 0px;
}

#mainNav {
  position: fixed;
}



body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/home/paris-background.jpg), url(../img/home/background-leaves-image.jpg);
  background-repeat: no-repeat;

  height: 500vh;
}


#mainContainer,
#firsHalfContainer,
#pictureContainer,
#descriptionContainer,
#description,
#secondHalfContainer,
#thirdHalfContainer,
div {
  display: flex;
}

#mainContainer,
#descriptionContainer {
  flex-direction: column;
}

#mainContainer {
  height: 270vh;
}

#firstHalfContainer {
  flex-direction: row;
  align-items: center;
  height: 170vh;
  justify-content: space-evenly;
  align-items: flex-start;
}

#descriptionContainer {
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  min-height: 500px;
  padding: 5em;
}

#description,
#seemore {
  padding: 1em;
}

#seeMore {
  color: white;
}

#siteDescription {
  margin: 20vh;
  margin-top: 20vh;
  color: white;
}

.description {
  display: block;
  font-size: 2em;
  color: white;
  line-height: 1.5em;
}

#homePic {
  margin-top: 10vh;
  max-width: 50vw;
  max-height: 80vh;
}

@media only screen and (max-width: 1000px) {
  #description {
    font-size: 1em;
  }
}

/* SECOND HALF INDEX */

#buttonGarden {
  background-color: rgb(243, 153, 5);
  color: #08818A;
}

#buttonGarden:hover {
  color: rgb(243, 153, 5);
  background-color: rgb(120, 203, 209) !important;
}


#secondHalfContainer,
#thirdHalfContainer {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #08818A;
  background-size: cover;
}

#thirdHalfContainer {
  position: absolute;
  top: 420vh;
  height: 80vh;
  width: 100%;
  background-color: rgb(243, 153, 5);
}

#gardenDescription,
#marketDescription {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0 10rem;
  color: rgb(243, 153, 5);
}

#marketDescription {
  color: #08818A;
}

#buttonMarket {
  background-color: #08818A;
  color: rgb(243, 153, 5);
}

#buttonMarket:hover {
  color: #08818A;
  background-color: rgb(235, 200, 107) !important;
}

.linkMap {
  width: 15vw;
}

#plantIcon,
#basketIcon {
  width: inherit;
}