/* 

//////////////COLORS//////////////

YELLOW: rgb(251,191,45) / #FBBF2D
ORANGE: rgb(243, 153, 5) /
GREEN: rgb(8,129,138) / #08818A
DARK-BLUE: rgb(47,93,168) / #2F5DA8
LIGHT-BLUE: rgb(72,123,189) / #487BBD
GREEN-GRAY: rgb(173,213,176) / #ADD5B0
PINK: rgb(249,204,211) / #F9CCD3
BEIGE : #FAF0E1
*/

body {
  background: no-repeat top url(../img/home/paris-background.jpg);
  height: 500vh;
  /* -webkit-transform: translateZ(-999px) scale(2);
  transform: translateZ(-999px) scale(2);
  z-index: 3; */
}

.forefront-element {
  -webkit-transform: translateZ(999px) scale(.7);
  transform: translateZ(999px) scale(.7);
  z-index: 1;
}

.base-element {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.background-element {}

#mainContainer,
#firsHalfContainer,
#pictureContainer,
#descriptionContainer,
#description,
#secondHalfContainer,
div {
  display: flex;
}

#mainContainer,
#descriptionContainer {
  flex-direction: column;
}

#mainContainer {
  height: 200vh;
  justify-content: space-between;
}

#firstHalfContainer,
#secondHalfContainer {
  height: 100vh;
  flex-direction: row;
  align-items: center;
}

#firstHalfContainer {
  justify-content: space-evenly;
  align-items: flex-start;
}

#descriptionContainer {
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  min-height: 500px;
  padding: 5em;
}

#description,
#seemore {
  padding: 1em;
}

#description {
  display: block;
  font-size: 2em;
  color: white;
  line-height: 1.5em;
}

#homePic {
  margin-top: 10vh;
  max-width: 50vw;
  max-height: 80vh;
}

@media only screen and (max-width: 1000px) {
  #description {
    font-size: 1em;
  }
}

/* SECOND HALF INDEX */

#secondHalfContainer {
  background-color: #FAF0E1;
  /* background-color: #FAF0E1; */
}

#cardContainer {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-gap: 5vw;
  width: 100vw;
  padding: 5vw;
  height: 35vw;
}

.cards {
  padding: 5vw;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50px;
  border: solid black 1px;
}

.linkMap {
  width: 15vw;
}

#plantIcon,
#basketIcon {
  width: inherit;
}