body {
    background: url(../img/home/background-log.jpg) !important;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    overflow: hidden;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    text-size-adjust: none;
    font-size: 1.3em;
    transition: all 5000s ease-in-out 0s;
}

#form_user,
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-title {
    font-size: 2.5em;
}

.form-container {
    width: 100vw;
    height: 93vh;
}

.input {
    margin: .5em;
    font-size: 1.3em;
    border: none;
    border-bottom: solid 1px gray;
    background: transparent;
}

.sign {
    font-size: 1em;
    margin: .3em;
}

.form-item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1.3em;
}