.container {
    display: grid;
    grid-template-columns: 7fr 4fr;
    margin: 3vw;
}

.name {
    text-align: center;
}

li {
    list-style: circle;
    margin-left: 2vw;
}

.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5vh;
    justify-content: space-around;

}

.items {
    padding: 5%;
}

#map {

    position: sticky !important;
    left: 0;
    top: 03vw;
    height: 85vh;
    min-height: 500px;
    min-width: 500px;
}