/* 
//////////////COLORS//////////////

YELLOW: rgb(251,191,45) / #FBBF2D
ORANGE: rgb(243, 153, 5) /
GREEN: rgb(8,129,138) / #08818A
DARK-BLUE: rgb(47,93,168) / #2F5DA8
LIGHT-BLUE: rgb(72,123,189) / #487BBD
GREEN-GRAY: rgb(173,213,176) / #ADD5B0
PINK: rgb(249,204,211) / #F9CCD3
BEIGE : #FAF0E1
*/

.container {
  display: grid;
  grid-template-columns: 7fr 4fr;
  margin: 3vw;
}

.list {
  display: grid;
  grid-template-columns: repeat(1);
  row-gap: 5vh;
  margin: 5vh;
}

#mapDisplay {
  position: sticky !important;
  top: 03vw;
  height: 60vh;
  min-height: 500px;
  min-width: 500px;
}

.schedules {
  background: none;
  font-size: 1em;
  border: none;
}

/* POP-UP */

.weekContainer {
  color: rgb(8, 129, 138);
}

.popup .popuptext {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  color: black;
  width: 12rem;
  font-size: 1rem;
  background-color: white;
  /* border-radius: 30px; */
  border: solid 1px rgb(243, 153, 5);
  box-shadow: rgb(243, 153, 5) 2px 2px;
  visibility: hidden;
  padding: 1em;
}

.popup .show {
  visibility: visible !important;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  z-index: 5;
}

.closePopUps {
  background-color: white;
  width: 50px;
  color: rgb(8, 129, 138);
  border: none;
  font-size: 1.2em;
}

.closePopUps:hover {
  color: black;
}

.schedules:hover {
  color: rgb(8, 129, 138);
}

.schedules:hover,
.closePopUps:hover {
  cursor: pointer;
}

.day {
  display: flex;
  justify-content: space-between;
  width: 10rem;
}

.weekContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-container {
  width: 60%;
}

.img {
  width: 100%;
}

.business {
  margin-left: 5%;
}

.fullBusiness {
  display: flex;
  border-top: solid 1px black;
  padding: 50px;
}

.businessType {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}

.adresse {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}

/* Customize the label (the container) */
/* .container {
  display: block;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */