.manage-products-title,
.create-container {
    margin: 5px;
}

table {
    border: solid 1px black;
}


th,
td {
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}

.table-image {
    max-width: 20vw;
    max-height: 20vh;
}

.big-container {
    display: grid;
    grid-template-columns: 4fr 4fr;
}

.create-container {
    margin-top: 5%;
}

.info {
    width: 40vw;
    height: 50px;
}

form div {
    margin-top: 10px;
}

ul {
    margin-top: 10px;
}

.table-row {
    text-align: center
}