/* 

//////////////COLORS//////////////

YELLOW: rgb(251,191,45) / #FBBF2D
ORANGE: rgb(243, 153, 5) /
GREEN: rgb(8,129,138) / #08818A
DARK-BLUE: rgb(47,93,168) / #2F5DA8
LIGHT-BLUE: rgb(72,123,189) / #487BBD
GREEN-GRAY: rgb(173,213,176) / #ADD5B0
PINK: rgb(249,204,211) / #F9CCD3
BEIGE : #FAF0E1
*/

body {
    background-image: url(../img/home/background-leaves-image.jpg);
}

/* .logButton {
    font-size: 16px;
    min-width: 100px;
    width: 10vw;
    border: none;
    background-color: rgb(251, 191, 45);
    color: white;
    border-radius: 50px;
    transform: scale(1);
    transition: all 1s ease;
    box-shadow: 3px 3px 0px 0px rgb(82, 72, 48);
    height: 40px;
} */

#form_user,
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-title {
    font-size: 2.5em;
}

.form-container {
    width: 100vw;
    height: 93vh;
}

.input {
    margin: .5em;
    font-size: 1.3em;
    border: none;
    border-bottom: solid 1px gray;
    background: transparent;
}

#emailLogin,
#passwordLogin {}

.form-item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1em;
    font-size: 1.3em;
}